# 依赖
node_modules/
.pnpm-store/

# 打包产物
dist/
dist-ssr/

# 本地环境变量
.env.local
.env.*.local

# 缓存
.vite/
.eslintcache

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.oxlintrc.json